body,html {
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-image: url(/assets/OIP.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    padding: 0;
    background-position: center;
    opacity: 90%;
}



.hero-content {
    position: absolute;
    text-align: center;
    top:5%;
    left: 0;
    right: 0;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

footer {
    background-color: rgba(0, 0, 0, 0.145);
    width: 100%;
    margin: 0px auto;
    padding-left: 5%;
    color:black;

}

.columna {
    float: left;
    width: 30%;
    color: rgba(32, 26, 26, 0.89);
}

#redescopyright {
    clear: both;
    color: rgba(32, 26, 26, 0.89);
    text-align: center;
}

.columna a {
    color: rgba(32, 26, 26, 0.89);
}

#menu {
    display: none;
    color: white;
    font-weight: bold;
    font-size: 1.8em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}

nav {
    width: 90%;
    place-content: space-between;
    overflow: hidden;
   
}

nav a {
    color: white;

}



nav ul {
    margin-right: 20px;
    list-style-type: none;
    
    
}

nav ul li {
   float: right;
    margin: 0 5px;
    
}

head {
    height: 30px;
    width: 100%;
    place-content: flex-start;
}

#mensajeError {
    color: red;
}

#menu-check {
    display: none;
}

@media only screen and (max-width:700px) {
    #menu-check:not(:checked) ~ nav {
        display: none
    }

    #menu-check:checked ~ nav {
        display: block
    }
    #menu-check:checked ~ label #menu-abrir {
        display: none;
    }
    #menu-cerrar {
        display: none;
    }
    #menu-check:checked ~ label #menu-cerrar {
        display: block;
    }

    #menu {
        display: block;
    }

    #menu:hover {
        color: black;
    }
    nav{
        position:absolute;
        top:0;
        right:0;
        height: 100%;
        background-color: grey;
        padding-top:0.5em;
        padding-right:1.5em;
        opacity:0.8;

    }

    nav ul li {
        display: block;
        text-align: right;
    }

  
}